<style>
    .errspan {
      margin-left: 18%;
      font-size: 14px;
      position: absolute;
      z-index: 1;
      color: grey;
    }
  
    .user-toggle:hover {
      cursor: pointer;
    }
  </style>
  <nav
    class="nav-header nav-color navbar navbar-expand-lg d-flex justify-content-between"
  >
    <div>
      <a class="navbar-brand text-secondary" href="/">eLibrary</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  
    <div class="input-search">
      <form class="form-inline my-2 my-lg-0" method="POST" action="/search">
        <input
          style="width: 300px"
          name="search"
          class="form-control"
          type="search"
          required
          placeholder="title or category"
          aria-label="Search"
        />
        <span class="fa fa-search errspan" aria-hidden="true"></span>
      </form>
    </div>
    <div class="dropdown">
      <% if(isLoggedIn) { %>
      <div data-toggle="dropdown" class="user-toggle">
        <i
          class="align-middle fas fa-user-circle mr-1"
          style="color: white; font-size: 30px"
        ></i>
        <span style="font-size: 14px" class="text-white">Ardiyan Agus</span>
      </div>
      <% } else { %>
      <a href="/register" class="mr-2 btn button-search"
        >Register <span class="caret"></span
      ></a>
      <a href="/login" class="btn button-search"
        >Login <span class="caret"></span
      ></a>
      <% } %>
      <ul
        class="dropdown-menu dropdown-menu-right"
        id="contain-menu"
        style="position: absolute"
      >
        <li><a class="dropdown-item" href="/user">My Profile</a></li>
        <li>
          <a class="dropdown-item" href="/transaction">Transactioni</a>
        </li>
        <li><a class="dropdown-item" href="#">JavaScript</a></li>
      </ul>
    </div>
  </nav>
  