<%- include('../includes/head.ejs') %> <%- include('../includes/navigation.ejs')
%>
<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"><%= formTitle %></h6>
    </div>
    <div class="card-body">
      <% action = ''; %> <% if(banner.id) { %> <% action =
      `/backoffice/updateuser/${userIdEncrypted}` %> <% } else { %> <% action =
      '/backoffice/users'%> <% } %>
      <form
        method="POST"
        action="/backoffice/banners"
        enctype="multipart/form-data"
      >
        <input type="text" name="destination" value="banners" />
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Title</label>
              <input
                type="text"
                class="form-control"
                name="title"
                placeholder="Title"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Type</label>
              <select class="form-control" name="type" id="">
                <option value="">-- Select Type --</option>
                <option value="Mobile">Mobile</option>
                <option value="Website">Website</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <label for="">Image</label>
            <input type="file" class="form-control" name="image" />
          </div>
        </div>
        <button type="submit" class="mt-3 btn btn-primary btn-sm rounded">
          Submit
        </button>
        <a href="/backoffice/banners" class="mt-3 btn btn-danger btn-sm rounded"
          >Cancel</a
        >
      </form>
    </div>
  </div>
</div>
<%- include('../includes/end.ejs') %>
