<%- include('../includes/head.ejs') %> <%-
include('../includes/navigation.ejs')%>
<script src="/js/sweetalert2.all.min.js"></script>
<div class="container-fluid">
  <a href="/backoffice/banners/form" class="btn btn-primary btn-sm mb-3 rounded"
    >Add Banner</a
  >
  <div class="card shadow">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Master Banner</h6>
    </div>
    <div class="card-body">
      <input type="hidden" id="text-alert" value="<%= flashMessage[0] %>" />
      <table class="table table-bordered dataTable" id="dataTable">
        <thead>
          <tr>
            <th class="text-center">No</th>
            <th class="text-center">Title</th>
            <th class="text-center">Image</th>
            <th class="text-center">Created At</th>
            <th class="text-center">Updated At</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
<%- include('../includes/end.ejs') %> <% if(flashMessage.length > 0) { %>
<script>
  let message = $("#text-alert").val();
  Swal.fire("Success!", message, "success");
</script>
<% } %>
<script>
  $(".delete-confirm").on("click", function (e) {
    e.preventDefault();
    Swal.fire({
      title: "Delete Data",
      icon: "question",
      iconHtml: "?",
      confirmButtonText: "Yes",
      cancelButtonText: "No",
      showCancelButton: true,
      showCloseButton: true,
    }).then(({ isConfirmed }) => {
      if (isConfirmed) {
        $(this).closest("form").submit();
      }
    });
  });
</script>
