<%- include('./includes/head.ejs') %> <%-
include('./includes/navigation.ejs')%>

<h1 class="text-center">500</h1>
<h1 class="text-center">Something Went Wrong</h1>

<div class="w-100 text-center">
    <a href="/backoffice/home">Back To Home</a>
</div>

<%- include('./includes/end.ejs') %>