<%- include('../includes/head.ejs') %> <%- include('../includes/navbar.ejs') %>
<style>
  .checked {
    color: orange;
  }
</style>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <div class="card shadow-lg">
        <img height="250" width="180" class="mx-auto" />
        <div class="card-body">
          <a
            href="#"
            class="card-title text-decoration-none text-dark font-weight-bold"
            data-toggle="tooltip"
            data-placement="top"
          >
          </a>
          <div class="row">
            <div class="col-md-12">
              <span class="text-muted">Rating</span>
            </div>
            <div class="col-md-12">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
