<%- include('../includes/head.ejs') %> <%- include('../includes/navbar.ejs') %>
<style>
  .detail {
    font-size: 12px;
  }
</style>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img height="250" width="180" class="mx-auto" />
        <div class="card-body">
          <div class="row"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <span>Ardiyan Agus</span>
      <h4>Jeda Nulis</h4>
      <span class="font-weight-bold">Description</span>
      <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, ipsam ab
        aliquid deleniti iure optio aspernatur autem iusto fuga saepe!
        Reprehenderit voluptate animi quod sit distinctio vero porro ducimus
        fugiat!. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Facilis cupiditate impedit eum ratione vitae blanditiis dolorum nisi
        architecto ipsam. Itaque illum eveniet iure, molestias corrupti
        voluptatibus maiores eligendi consectetur id.
      </p>
      <span class="font-weight-bold">Detail</span>
      <div class="row">
        <div class="col-md-6">
          <span class="detail">Jumlah Halaman</span>
        </div>
        <div class="col-md-6">
          <span class="detail">Penerbit</span>
        </div>
        <div class="col-md-6">
          <span class="detail">123</span>
        </div>
        <div class="col-md-6">
          <span class="detail"> Gramedia Widiasarana Indonesia </span>
        </div>
        <div class="col-md-6 mt-3">
          <span class="detail">Tanggal Terbit</span>
        </div>
        <div class="col-md-6 mt-3">
          <span class="detail">Berat</span>
        </div>
        <div class="col-md-6">
          <span class="detail">12 Maret 2022</span>
        </div>
        <div class="col-md-6">
          <span class="detail">0.9 kg</span>
        </div>
        <div class="col-md-6 mt-3">
          <span class="detail">ISBN</span>
        </div>
        <div class="col-md-6 mt-3">
          <span class="detail">Lebar</span>
        </div>
        <div class="col-md-6">
          <span class="detail">9786020523316</span>
        </div>
        <div class="col-md-6">
          <span class="detail">12.5 cm</span>
        </div>
        <div class="col-md-6 mt-3">
          <span class="detail">Bahasa</span>
        </div>
        <div class="col-md-6 mt-3">
          <span class="detail">Panjang</span>
        </div>
        <div class="col-md-6">
          <span class="detail">Indonesia</span>
        </div>
        <div class="col-md-6">
          <span class="detail">20 cm</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h5 class="font-weight-bold mt-3">Review</h5>
    <div class="col-md-12 mt-3">
      <div class="row">
        <div class="col-md-12">
          <i
            class="fa fa-user-circle"
            style="color: #fbc252; font-size: 25px"
            aria-hidden="true"
          ></i>
          <span class="ml-2" style="font-weight: 600"> UserName By User </span>
        </div>
        <div class="col-md-12">
          <span class="text-justify">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam
            ducimus iste repellat vitae. Inventore ipsum enim illum, aliquid aut
            assumenda, doloribus corporis hic praesentium architecto voluptatem
            eligendi nisi atque quos!. Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Error voluptatibus itaque eligendi, perspiciatis
            soluta perferendis recusandae voluptates, nihil doloribus quam
            quidem adipisci dolor amet iusto explicabo reiciendis numquam! Sit,
            nesciunt.
          </span>
          <hr style="width: 100%" />
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../includes/footer.ejs') %>
