<%- include('../includes/head.ejs') %> <%-
include('../includes/navigation.ejs')%>
<script src="/js/sweetalert2.all.min.js"></script>
<input type="hidden" id="text-alert" value="<%= flashMessage[0] %>" />
<div class="container-fluid">
  <form action="/backoffice/users/template" method="POST">
    <a href="/backoffice/users/form" class="btn btn-primary btn-sm mb-3 rounded">Add User</a>
    <button type="submit" class="btn btn-success btn-sm mb-3 rounded">Download Template</button>
  </form>
  <div class="card shadow">
    <div class="card-header py-3">
      <div class="d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Master User</h6>
        <a href="/backoffice/users/import" class="btn btn-primary btn-sm rounded">Import User</a>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered dataTable" id="userTable">
        <thead>
          <tr>
            <th class="text-center">No</th>
            <th class="text-center">Username</th>
            <th class="text-center">Email</th>
            <th class="text-center">Role</th>
            <th class="text-center">Photo Profile</th>
            <th class="text-center">Created Date</th>
            <th class="text-center">Updated Date</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('../includes/end.ejs') %> <% if(flashMessage.length > 0) { %>
<script>
  let message = $("#text-alert").val();
  Swal.fire("Success!", message, "success");
</script>
<% } %>
<script>
  $(document).ready(function(){
    $("#userTable").DataTable({
      processing: true,
      serverSide: true,
      ajax: "/backoffice/usersTable",
      columns: [
        {
            data: null,
            className: 'text-center',
            render: function(data, type, row, meta) {
                return meta.row + 1
            }
        },
        { data: 'username', searchable: true, className: 'text-center' },
        { data: 'email', className: 'text-center' },
        { data: 'roles', className: 'text-center' },
        { data: 'image', className: 'text-center', render: function(data, type, row) {
            return `<img loading="lazy" width="80" height="30" src="/${row.image}" alt="${row.title}">`
        }},
        { data: 'createdAt', className: 'text-center' },
        { data: 'updatedAt', className: 'text-center' },
        {
            data: null,
            render: function(data, type, row) {
                return `<form method="POST" action="/backoffice/users/delete/${row.id}" class="d-inline">
                            <div class='d-flex justify-content-center'>
                                <a href="/backoffice/users/${row.id}" class="mr-2 text-center btn btn-info btn-sm rounded">Edit</a>
                                <button type="submit" class="btn btn-danger btn-sm delete-confirm">Delete</button>
                            </div>
                         </form>`
            }
        }
      ]
    })
  })

  $(".delete-confirm").on("click", function (e) {
    e.preventDefault();
    Swal.fire({
      title: "Delete Data",
      icon: "question",
      iconHtml: "?",
      confirmButtonText: "Yes",
      cancelButtonText: "No",
      showCancelButton: true,
      showCloseButton: true,
    }).then(({ isConfirmed }) => {
      if (isConfirmed) {
        $(this).closest("form").submit();
      }
    });
  });
</script>