<style>

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	background-color: $gb;
	font-family: 'Open Sans';
}

*, *:before, *:after {
	box-sizing: content-box;
	transform: translate3d(0, 0, 0);
}


h1 {
	font-weight: 800;
	color: $dark;
	text-align: center;
	font-size: 2.5em;
	padding-top: 20px;
	
	@media screen and (max-width: $break) {
		padding-left: 20px;
		padding-right: 20px;
		font-size: 2em;
  	}
}

.btn {
	font-family: "Open Sans";
	font-weight: 400;
	padding: 20px;
	background-color: rgba($blue,1.0);
	color: white;
	width: 320px;
	margin: 0 auto;
	text-align: center;
	font-size: 1.2em;
	border-radius: 5px;
	cursor: pointer; 
	margin-top: 80px;
	margin-bottom: 50px;
	transition: all .2s linear;
	
	@media screen and (max-width: $break) {
		margin: 0 auto;
		margin-top: 60px;
		margin-bottom: 50px;
    	width: 200px;
  	}
	
	&:hover {
		background-color: rgba($blue,0.8);
		transition: all .2s linear;
	}
}
</style>

<h1 style="margin-top: 50px; font-size: 200px;">404</h1>
<h1>Oops! Something went wrong!</h1>
<a href="/" style="margin-left: 45%;">Back To Dashboard</a>
<div class="btn">Return to Home</div>

<br>
<br>
<br>

<pre />
<%= message %>