<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Dashboard</title>
    <!-- <link href="/public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="/public/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/public/css/my-style.css" rel="stylesheet">
    <link href="/public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
 -->

 <link rel="icon" type="image/x-icon" href="/public/img/books.png" />
 <link href="/public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
 <link
     href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
     rel="stylesheet">

 <!-- Custom styles for this template-->
 <link href="/public/css/sb-admin-2.min.css" rel="stylesheet">

 <link href="/public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

 <style>
    #accordionSidebar {
        background-color: #C5A992 !important;
        background-color: #C5A992;
        background-image: linear-gradient(180deg,#C5A992 10%,#C5A992 100%);
        background-size: cover;
    }

    .btn-primary {
        background-color: #C5A992 !important;
        border-color: #C5A992 !important;
    }

    .btn-success {
        background-color: #07BEB8 !important;
        border-color: #07BEB8 !important;
    }

    .btn-warning {
        background-color: #4281A4 !important;
        border-color: #4281A4 !important;
    }

    .text-primary {
        color: #C5A992 !important;
    }

    .active {
        color: #C5A992 !important;
    }

    .page-item.active .page-link {
        color: #fff !important;
        background-color: #C5A992 !important;
        border-color: #C5A992 !important; 
    }

    .page-link {
        color: #C5A992 !important;
        background-color: #fff !important;
        border: 1px solid #dee2e6 !important; 
    }

    .page-link:hover {
        color: #fff !important;
        background-color: #C5A992 !important;
        border-color: #C5A992 !important; 
    }

    .border-left-primary {
        /* background-color: #C5A992 !important; */
        border-left: .25rem solid #C5A992 !important; 
    }
    
 </style>
</head>
<body id="page-top">
    <div id="wrapper">
        
